@media (max-width: 1000px){
    .radiosContiner{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2,48%);
    }
}
@media (max-width: 950px) {
    .addContiner{
        grid-template-rows: repeat(2, 430px);
        grid-template-columns: repeat(2, 48%);
    }
    .radiosContiner{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 100%;
        grid-template-columns: repeat(4,25%);
    }
    .removeContiner{
        grid-template-rows: repeat(2, 430px);
        grid-template-columns: repeat(2, 48%);
    }
}
@media (max-width: 600px) {
    .addContiner{
        grid-template-rows: repeat(3, 430px);
        grid-template-columns: repeat(1, 90%);
    }
    .removeContiner{
        grid-template-rows: repeat(3, 430px);
        grid-template-columns: repeat(1, 90%);
    }
}