/* /// Desctop /// */
@media (min-width: 1025px) {
    .logo{
        width: 7%;
    }
}
/* /// Other /// */
@media (max-width : 940px){
    .menu-header{
        display: none;
    }
    #menu-btn{
        display: block;
    }
    #openSearchBtnHeader{
        display: block;
    }
    #inputHeader{
        display: none;
    }
    .main-container{
        display: grid;
    }
    .footer-main{
        grid-auto-flow: row;
    }
    .menu-footer{
        display: grid;
        grid-template-rows: 65% 35%;
        grid-template-columns: 50% 50%;
    }
    .weblogBox{
        grid-template-rows: 100% 100%;
        grid-template-columns: repeat(2, 45%);
    }
    .footer{
        margin-top: 500px;
    }
}
@media (min-width : 940px){
    #inputHeader{
        display: block;
    }
    #openSearchBtnHeader{
        display: none;
    }
}
/* /// Mobile /// */
@media (max-width: 800px) {
    .optionsList {
        margin: 100px 0;
        grid-template-rows: repeat(4, 40%);
        grid-template-columns: repeat(1, 96%);
    }
}
@media (max-width: 600px) {
    #themModeBtnHeader{
        display: none;
    }
    #openSearchBtnHeader{
        display: none;
    }
    .weblogBox{
        grid-gap: 20px;
        grid-template-rows: repeat(4, 100%);
        grid-template-columns: 80%;
    }
    .footer{
        margin-top: 1400px;
    }
}
@media (max-width: 430px){
    .menu-footer{
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,25%);
    }
    .menu-footer > li{
        padding: 10px;
    }
}